@import '~antd/lib/style/index';

// $border-color: #ccd6dd;
// $border-color-split: $border-color;
// $invert-color: #363a45;
$dark-grey-color: #898d97;
$grey-color: #eaeff2;
// $grab-grey-1: $grey-color;
$light-grey-color: #f7f9fb;
$white-color: #ffffff;
// $grab-light-grey-1: $light-grey-color;

$primary-color: #00b14f;
$primary-1: #e6f7ed;
$primary-2: #cbefdb;
$primary-3: #44e38c;
$primary-4: #008c3f;

// $secondary-color: #00a5cf;
// $secondary-1: #e7f6fa;
// $secondary-2: #cbedf6;
// $secondary-3: #10afd6;
// $secondary-4: #018fb3;
// $secondary-5: #e5f6fa;

// $red-1: #fdefee;
// $red-2: #fcdfdb;
// $red-3: #ff7c6b;
// $red-4: #ee6352;
// $red-5: #af483b;

// $yellow-1: #fef9eb;
// $yellow-2: #fdf4d8;
$yellow-3: #f8d367;
// $yellow-4: #f7c942;
// $yellow-5: #e6ac23;

$orange-1: #ef863c;

// $info-color: $secondary-color;
// $border-radius-base: 6px;
// $grab-ui-cls: grab-ui;
// $btn-font-weight: 400;
// $btn-border-radius-base: $border-radius-base;
// $btn-border-radius-sm: $border-radius-base;
// $btn-primary-color: $white-color;
// $btn-primary-bg: $primary-color;
// $btn-secondary-color: $white-color;
// $btn-secondary-bg: $secondary-color;
// $btn-default-color: $text-color;
// $btn-default-bg: $white-color;
// $btn-default-border: $border-color-base;
// $btn-danger-color: $error-color;
// $btn-danger-bg: $background-color-base;
// $btn-danger-border: $border-color-base;
// $btn-disable-color: $disabled-color;
// $btn-disable-bg: $disabled-bg;
// $btn-disable-border: $border-color-base;
// $btn-font-size-lg: 16px;
// $btn-font-size-base: 14px;
// $btn-font-size-sm: 12px;
// $btn-padding-base: 11px 12px 13px;
// $btn-padding-lg: 15px 16px 17px;
// $btn-padding-sm: 7px 8px 9px;
// $btn-height-base: 43px;
// $btn-height-lg: 53px;
// $btn-height-sm: 32px;
// $btn-border-radius-base: 6px;
// $btn-border-radius-lg: 6px;
// $btn-border-radius-sm: 6px;
// $btn-circle-size: $btn-height-base;
// $btn-circle-size-lg: $btn-height-lg;
// $btn-circle-size-sm: $btn-height-sm;
// $btn-group-border: $primary-7;
// $dropdown-menu-padding: 7px 8px 9px;
// $cascader-menu-padding: $dropdown-menu-padding;
// $carousel-default-text-color: $border-color;
// $menu-top-padding: 11px;
// $menu-bottom-padding: 13px;
// $font-family: 'Sanomat Grab Web';
// $menu-dark-bg: $invert-color;
// $menu-dark-submenu-bg: $invert-color;
// $menu-dark-text-color: $white-color;
// $menu-padding: 11px 16px 13px;
// $menu-padding-offset: 5px;
// $layout-sider-background: $invert-color;
// $layout-header-background: $white-color;
// $input-hover-border-color: $primary-color;
// $outline-color: $primary-color;
// $font-size-base: 14px;
// $font-size-lg: 16px;
// $font-size-sm: 12px;
// $input-height-base: 43px;
// $input-height-lg: 53px;
// $input-height-sm: 32px;
// $input-disabled-bg: $light-grey-color;
// $input-padding-horizontal-base: 12px;
// $input-padding-offset-base: 11px;
// $input-padding-offset-lg: 15px;
// $input-padding-offset-sm: 7px;
// $input-padding-vertical-base: 12px;
// $input-padding-vertical-lg: 16px;
// $input-padding-vertical-sm: 8px;
// $input-padding-base: $btn-padding-base;
// $input-padding-lg: $btn-padding-lg;
// $input-padding-sm: $btn-padding-sm;
// $item-active-bg: $light-grey-color;
// $item-hover-bg: transparent;
// $radio-button-color: $invert-color;
// $pagination-height-base: 32px;
// $pagination-height-mini: 20px;
// $pagination-padding: 6px 8px 7px;
// $border-radius-base: 6px;
// $border-radius-sm: 6px;
// $border-color-base: $border-color;
// $btn-text-color: $white-color;
// $text-color: $invert-color;
// $disabled-color: $border-color;
// $success-color: $primary-color;
// $warning-color: $yellow-4;
// $danger-color: $red-4;
// $error-color: $red-4;
// $finish-title-color: $border-color;
// $wait-title-color: $border-color;
// $steps-icon-size: 28px;
// $steps-current-dot-size: 10px;
// $form-component-height: $input-height-base;
// $label-color: $dark-grey-color;
// $text-color-secondary-dark: $white-color;
// $date-picker-border-radius-1: 2px;
// $date-picker-right-position-1: 12px;
// $date-picker-right-position-2: 16px;
// $date-picker-right-position-3: 8px;
// $switch-height: 25px;
// $switch-sm-height: 14px;
// $upload-icon-plus-font-size: 32px;
// $list-padding-top-default: 11px;
// $list-padding-bottom-default: 13px;
// $list-padding-top-small: 7px;
// $list-padding-bottom-small: 9px;
// $list-padding-top-large: 15px;
// $list-padding-bottom-large: 17px;

// a:hover,
// a {
//   color: $secondary-color;
// }